<a href="https://colab.research.google.com/github/AdityaMali918/Python/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***IMMUTABLE***

* String : we cannot change character, we can delete whole string but can't delete portion of it
Function : len, max, min ,sorted ,'str'.split(), ','.join([str1,str2,str3]),  Capitalize/Title/Upper/Lower/Swapcase, count/find/index , endswith/startswith ,
format(name,class), isalnum/ isalpha/ isdigit/ isidentifier, Split/Join/Strip/Replace,sorted()

# ***Characterstics of a List***

* Ordered
* Changeble/Mutable
* Hetrogeneous
* Can have duplicates
* are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python

* # Function : append, extend, insert, remove, pop(index), clear, len, max , min, sorted, sort, count, index, copy, Zip, sum

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate
- Function : count,index

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

* Function : add,update,remove,union

# **Function**
```
def is_even(num):
  """
  This function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  created on - 16th Nov 2022
  """
- is_even.__doc__
```
### Parameters Vs Arguments
### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument


### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

# *args
# allows us to pass a variable number of non-keyword arguments to a function.
```
def multiply(*args): multiply(1,2,3,4,5,6,7,8,9,10,12)
```
- # **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.
```
def display(**k):

  for (key,value) in salman.items():
    print(key,'->',value)
```
display(india='delhi',srilanka='colombo',nepal='kathmandu',pakistan='islamabad')   

# global
def h(y):


```
def h(y):
    global x
    x += 1
x = 5
h(x)
print(x)
```

# **1. Print**

In [ ]:
print('Hello World',1,2,4.5,True)

Hello World 1 2 4.5 True

In [ ]:
print('Hello World',1,2,4.5,True,sep='/')

Hello World/1/2/4.5/True

In [ ]:
print('Hello World',1,2,4.5,True,end='-')

Hello World 1 2 4.5 True-

# **2. Data Types**

In [ ]:
print(8)

8

In [ ]:
print(1e308)

1e+308

In [ ]:
# Decimal/Float
print(8.55)
print(1e309)

8.55
inf

In [ ]:
# Boolean
print(True)
print(False)

True
False

In [ ]:
# Text/String
print('Hello World')

Hello World

In [ ]:
#complex
print(type(3+5j))

<class 'complex'>

In [ ]:
#list
print([1,'23',True])

[1, '23', True]

In [ ]:
#tuple
print((2,3,4))

(2, 3, 4)

In [ ]:
#set
print({1,2,4,4})

{1, 2, 4}

In [ ]:
#dict
print({1:2,1:3,2:4})

{1: 3, 2: 4}

# **3. Variables**

In [ ]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [ ]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

# **4. Comment**

In [ ]:
#name

In [ ]:
'''
a ffffffdasdf das
asdasdsa
'''
print(3)

3

In [ ]:
"""
 This function prints a greeting message.
"""

'\n This function prints a greeting message.\n'

In [ ]:
import torch

outputs = torch.tensor([
    [2.1, 0.9, 3.2],  # sample 0
    [1.2, 4.0, 0.5]   # sample 1
])

_,predicted = torch.max(outputs,0)

In [ ]:
predicted

tensor([0, 1, 0])

In [ ]:
a =1
a = float(a)

In [ ]:
a

1.0

# **5. User Input**

In [ ]:
a = input("Enter ur name")

Enter ur nameAD

In [ ]:
a

'AD'

In [ ]:
a = int(input("Enter 1 "))
b = int(input("Enter 2 "))
result = a+float(b)
type(result)

Enter 1 4
Enter 2 5

float

In [ ]:
print(4 + '4')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# **6. Type Conversion**

In [ ]:
str(5)

'5'

In [ ]:
float(4)

4.0

In [ ]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

# **7. Literals**

In [ ]:
a = 210 #decimal
b = 0b1010 #Binary Literals
c = 0x23c #Hexadecimal Literal
d = 0o310 #Octal Literal

In [ ]:
#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

In [ ]:
#Complex Literal
x = 3.14j

In [ ]:
print(a, b, c, d)

210 10 572 200

In [ ]:
print(float_1, float_2,float_3)

10.5 150.0 0.0015

In [ ]:
print(x, x.imag, x.real)
"""
This is a multiline string with more than one line code.
"""

3.14j 3.14 0.0

'\nThis is a multiline string with more than one line code.\n'

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""

In [ ]:
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

In [ ]:
print(unicode)
print(raw_str)

😀😆🤣
raw \n string

In [ ]:
a = r"raw \n string"
a

'raw \\n string'

In [ ]:
print(f"asd {a}")

asd raw \n string

# **Operators in Pythonn**


*  Arithmetic Operators
*  Relational Operators
*  Logical Operators
*  Bitwise Operators
*  Assignment Operators
*  Membership Operators
*  List item

In [ ]:
# Arithmetric Operators
print(5+3)

print(5-4)

print(5*4)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

8
1
20
2.5
2
1
25

In [ ]:
# Relational Operators
print(5>4)

print(5<4)

print(5>=5)

print(2<=4)

print(2!=3)

print(4==4)

True
False
True
True
True
True

In [ ]:
# Logical Operators

print(1 and 3)

print(4 or 3)

print(not 0)

3
4
True

In [ ]:
# Bitwise Operators

print(3 & 4)

print(1 | 2)

print(~1)

print(2^3)

print(3>>1)

print(2<<3)

0
3
-2
1
1
16

In [ ]:
# Assignment Operators

# =
# a = 2

# a = 2

a+=1

In [ ]:
a

5

In [ ]:
a++

SyntaxError: invalid syntax (<ipython-input-32-1277751513>, line 1)

In [ ]:
# Membership Operators

# in/not in

print('D' in 'Delhi')

print(1 in [1,2,3])

True
True

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

val = True

while(val):
  number = int(input('Enter a 3 digit number'))
  if(len(str(number)) == 3):
    val = False

    sum = 0
    remainder = number

    while(remainder!=0):
       sum += remainder%10
       remainder //= 10

    print(sum)

Enter a 3 digit number7777
Enter a 3 digit number45
Enter a 3 digit number7899
Enter a 3 digit number555
15

In [ ]:
52//10

5

In [ ]:
52%10

2

In [ ]:
5522//10

552

In [ ]:
2233%10

3

In [ ]:
number = int(input('Enter a 3 digit number'))
len(number)

Enter a 3 digit number444

TypeError: object of type 'int' has no len()

In [ ]:
2%10

2

In [ ]:
2//10

0

In [ ]:
#Find the min of 3 given numbers

miminum = min(1,2,3)
miminum

1

In [ ]:
maximum = max(1,2,3)
maximum

3

# **Modules in Python**



*   math
*   keywords
*   random
*   datetime

In [ ]:
import math

math.sqrt(25)

5.0

In [ ]:
import keyword

keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
import random
random.randint(1,10)

7

In [ ]:
import datetime
print(datetime.datetime.now())

2025-06-15 05:55:20.397857

In [ ]:
# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo55
galat!guess lower
guess karo25
galat!guess lower
guess karo10
galat!guess higher
guess karo15
galat!guess lower
guess karo13
galat!guess lower
guess karo12
galat!guess lower
guess karo11
correct guess
attempts 7

In [ ]:
while guess != jackpot:
    if guess == -1:
        break
else:
    print("This will NOT run if loop was broken using break.")

# **Loops in Python**

In [ ]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

# ***Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:***

Salary(Lakhs) : Tax(%)

Below 5 : 0%
5-10 : 10%
10-20 : 20%
aboove 20 : 30%

In [ ]:
ctc = float(input("Enter your annual CTC in lakhs: "))

# Step 1: Remove HRA (10%), DA (5%), PF (3%)
net_salary = ctc
net_salary *= 0.90  # HRA
net_salary *= 0.95  # DA
net_salary *= 0.97  # PF

# Step 2: Apply tax based on slabs
if 0 < ctc < 5:
    tax_rate = 0
elif 5 <= ctc < 10:
    tax_rate = 0.10
elif 10 <= ctc < 20:
    tax_rate = 0.20
elif ctc >= 20:
    tax_rate = 0.30
else:
    print("Invalid input.")
    exit()

net_salary_after_tax = net_salary * (1 - tax_rate)

# Step 3: Monthly in-hand salary
monthly_in_hand = (net_salary_after_tax * 1_00_000) / 12  # Convert lakhs to rupees

print(f"Your monthly in-hand salary is: ₹{monthly_in_hand:.2f}")

Enter your annual CTC in lakhs: 5
Your monthly in-hand salary is: ₹31100.62

# **Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.**

In [ ]:
cost_price = int(input("Enter the cost price"))
selling_price = int(input("Enter the selling price"))
ratio = selling_price/cost_price
if(ratio > 1 ):
  print("Profit",ratio )
elif(ratio == 1 ):
  print("No loss no profit")
else:
  print("Loss")

Enter the cost price500
Enter the selling price600
Profit 1.2

# ***The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34***

In [ ]:
n_term = int(input("Enter the number of sequence"))
a=0
b=1
for i in range(1,n_term):
  print(a, end=" ")
  a, b = b, a + b

Enter the number of sequence10
0 1 1 2 3 5 8 13 21

In [ ]:
n = int(input("Enter the number of sequence"))
factorial=1
while(n != 1):
    factorial *= n
    print(factorial)
    n-=1

Enter the number of sequence6
6
30
120
360
720

In [ ]:
st= '45689'
st[-1:-4:-1]

'986'

In [ ]:
result = []

for i in range(2000,3201):
  if(i%7==0 and i%5!=0):
    result.append(str(i))

print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
result=['a','b','c']
"-".join(result)

'a-b-c'

In [ ]:
5**(1/2)

2.23606797749979

# ***:Write a program to print whether a given number is a prime number or not***

In [ ]:
num = int(input("Enter"))

if num<=1:
  print("not a prime number")
else:
  for i in range(2,int(num**0.5)):
    if(num%i==0):
      print(f"{num} is not a prime number.")
      break
  else:
    print("Prime number")    #so the loop ends naturally — and the else runs.

Enter11
Prime number

In [ ]:
#This else runs when guess == jackpot, meaning the condition guess != jackpot becomes False, so the loop ends naturally — and the else runs.

In [ ]:
# Get user-defined range
start = int(input("Enter start of range: "))
end = int(input("Enter end of range: "))

print(f"Armstrong numbers between {start} and {end} are:")

for num in range(start, end + 1):
    # Convert number to string to iterate digits
    digits = str(num)
    total = 0
    for d in digits:
        total += int(d) ** 3  # Cube of each digit

    if total == num:
        print(num)

Enter start of range: 100
Enter end of range: 999
Armstrong numbers between 100 and 999 are:
153
370
371
407

# ***Pattern 1
*
**
******

In [ ]:
for i in range(1,6):
  print('*'*i)

*
**
***
****
*****

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
pop = 10000
for i in range(10,0,-1):
  print(pop)
  pop /= 1.1
  '''
  Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year.
  You have to write a program to find out the population at the end of each of the last 10 years.
  '''

10000
9090.90909090909
8264.462809917353
7513.148009015775
6830.134553650703
6209.213230591548
5644.739300537771
5131.5811823070635
4665.07380209733
4240.976183724845

In [ ]:
n = int(input("Enter"))
result = 0
fact =1
for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact
print(result)

Enter2
2.0

In [ ]:
n=5
for i in range(1,n):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

1
121
12321
1234321

# **Loop Control Statement**

*   Break
*   Continue
*   Pass

# Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

* Creating Strings
*  Accessing Strings
* Adding Chars to Strings
* Editing Strings
* Deleting Strings
* Operations on Strings
* String Functions

In [ ]:
s = 'hello'
s = "hello"
# multiline strings
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

In [ ]:
# Positive Indexing
s = 'hello world'
print(s[41])

IndexError: string index out of range

In [ ]:
# Negative Indexing
s = 'hello world'
print(s[-3])

r

In [ ]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

***Editing and Deleting in Strings***

In [ ]:
s = 'hello world'

s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
del s

In [ ]:
a = 'helllo  wwww s'
del a[1:5]

TypeError: 'str' object does not support item deletion

***Operations on Strings***
* Arithmetic Operations
* Relational Operations
* Logical Operations
* Loops on Strings
* Membership Operations

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-38-812578685>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  True is 1

False

In [ ]:
print('a'+'b')

ab

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically

False

In [ ]:
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

False

***Common Functions :
len
max
min
sorted***

In [ ]:
len('hello world')

11

In [ ]:
max('asdfhgjkhlz')

'z'

In [ ]:
min('asdfhgjkhlz')

'a'

In [ ]:
sorted('asdfhgjkhlz',reverse=True)

['z', 's', 'l', 'k', 'j', 'h', 'h', 'g', 'f', 'd', 'a']

In [ ]:
'asdfhgjkhlz'.split()

['asdfhgjkhlz']

In [ ]:
','.join(['a','b','c'])

'a,b,c'

In [ ]:
s = 'Hello world.New stOre'
print(s.capitalize())
print(s)

Hello world.new store
Hello world.New stOre

In [ ]:
s.title()

'Hello World.New Store'

In [ ]:
s.lower()

'hello world.new store'

In [ ]:
s.upper()

'HELLO WORLD.NEW STORE'

In [ ]:
s.swapcase()

'hELLO WORLD.nEW SToRE'

**Count/Find/Index**

In [ ]:
'my name is nitish'.count('i')

3

In [ ]:
'my name is nitish'.find('i')

8

In [ ]:
'my name is nitish'.index('i')

8

In [ ]:
'my name is nitish'.find('xc')

-1

In [ ]:
'my name is nitish'.index('xc')

ValueError: substring not found

In [ ]:
'my name is nitish'.endswith('nitish')

True

In [ ]:
'my name is nitish'.startswith('ma')

False

In [ ]:
",".join(['1','5','6'])

'1,5,6'

In [ ]:
"   ngfd           ".strip()

'ngfd'

In [ ]:
'my name is nitish'.replace('nami','an')

'my name is nitish'

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

In [ ]:
'asd23'.isalnum()

True

In [ ]:
'asdas'.isalpha()

True

In [ ]:
'132'.isdigit()

True

In [ ]:
'_nbame'.isidentifier()

True

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

email = 'nitish24singh@gmail.com'
user_index = email.find('@')
email[:user_index]

'nitish24singh'

In [ ]:
'hello how are you'.count('h')

2

In [ ]:
'nitish'.replace('i',"")

'ntsh'

In [ ]:
s = 'malayalam'
if s == s[::-1]:
  print('Palindrome')

Palindrome

In [ ]:
len('enter the string'.split())

3

In [ ]:
s = input('enter the string')

L = []

for i in s.split():
  L.append(i[0].upper()+i[1:].lower())
print(" ".join(L))

enter the stringenter the string
Enter The String

In [ ]:
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringenter the string'
Enter The String'

In [ ]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n = 5

# Upper part
for i in range(1, n + 1):
    print("* " * i)

# Lower part
for i in range(n - 1, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 3  # number of rows

for i in range(n):
    spaces = ' ' * (n - i - 1)
    stars = '* ' * (2 * i + 1)
    print(spaces + stars.strip())

  *
 * * *
* * * * *

In [ ]:
for i in range(5):
  for j in range(i+1,0,-1):
    print(j,end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
n=5
result=0
for i in range(1,n+1):
  s = '2'*i
  result += int(s)

print(result)

24690

In [ ]:
remainder =0
qutionent =0
result=''

num = 17
while(num!=0):
  remainder = num%2
  num = num//2
  result= result + str(remainder)

print(result[::-1])  #Write a program that will take a decimal number as input and prints out the binary equivalent of the number

10001

In [ ]:
#: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

'''✅ HCF (Highest Common Factor):
Also called GCD (Greatest Common Divisor).

It is the largest number that divides both numbers exactly.

Example: HCF of 12 and 18 is 6

✅ LCM (Least Common Multiple):
It is the smallest number that is a multiple of both numbers.

Example: LCM of 12 and 18 is 36
HCF
Initial:
x = 48, y = 18

1st Iteration:
x, y = y, x % y

x = 18, y = 48 % 18 = 12

2nd Iteration:
x = 12, y = 18 % 12 = 6

3rd Iteration:
x = 6, y = 12 % 6 = 0

Now y = 0, so the loop stops.

✅ Return:
x = 6 → This is the HCF.'''

def hcf(x,y):
  while y:
    x,y=y,x%y
  return x
hcf(9,18)

9

In [ ]:
word = []
result=''
words = 'Data science mentorship program'.split()
for i in words:
  result = result + i[0].upper()
result

'DSMP'

In [ ]:
len('campusx')//2

3

In [ ]:
str1 = "Hello"
str2 = "World"

# Find middle index of str1
mid = len(str1) // 2

word = str1[:mid]+str2+str1[mid:]
word

'HeWorldllo'

In [ ]:
"".join(sorted('PyNaTive',reverse=True))

'yvieaTPN'

In [ ]:
a = 'geeks quiz practice code'.split()
r = ''
for i in range(len(a)-1,-1,-1):
  r = r+a[i]+" "
r

'code practice quiz geeks '

In [ ]:
'We can learn data science through campusx mentorship program.'.count('campusx')

1

# ***List***

* What are Lists?
* Lists Vs Arrays
* Characterstics of a List
* How to create a list
* Access items from a List
* Editing items in a List
* Deleting items from a List
* Operations on Lists
* Functions on Lists

**Array Vs Lists**
* Fixed Vs Dynamic Size
* Convenience -> Hetrogeneous
* Speed of Execution
* Memory: Referential array

In [ ]:
l = list({1,2,3})
type(l)

list

In [ ]:
id(l)

132334406606656

In [ ]:
id(l[0])

10757704

In [ ]:
id(10)

10758024

In [ ]:
del l[0]

In [ ]:
l

[2, 3]

In [ ]:
l.insert(0,1)
l

[1, 2, 3]

In [ ]:
del l[1]

In [ ]:
l

[1, 3]

In [ ]:
L = [1,2]
L1 = [1,2]
L == L1

True

# ***Characterstics of a List***

* Ordered
* Changeble/Mutable
* Hetrogeneous
* Can have duplicates
* are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python

In [ ]:
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([
    [[1,2,3],
    [4,5,6]],
    [[1,2,3],
    [4,5,6]],
])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
#
list('hello')

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]]
[1, True, 5.6, (5+6j), 'Hello']

['h', 'e', 'l', 'l', 'o']

In [ ]:
A = [
    [[1,2,3],
    [4,5,6]],
    [[10,20,30],
    [40,5,6]],
]
A[1][0][2]

30

In [ ]:
# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])
L

[6, 5, 4, 3, 2, 1]

[1, 2, 3, 4, 5, 6]

In [ ]:
L.reverse()
L

[6, 5, 4, 3, 2, 1]

In [ ]:
L.reverse()
L

[1, 2, 3, 4, 5, 6]

In [ ]:
L.sort()

# ***Adding Items to a List***

In [ ]:
L=[]
L.append('Hello')
L

['Hello']

In [ ]:
L.extend('wo')
L

['Hello', 'w', 'o']

In [ ]:
L.append([1,2,3])
L

['Hello', 'w', 'o', [1, 2, 3]]

In [ ]:
L.extend([4,5])
L

['Hello', 'w', 'o', [1, 2, 3], 4, 5]

In [ ]:
L.insert(1,L.extend([1,23]))
L

[1, None, [1, 23], 4, 1, 23]

In [ ]:
L.remove(9)

In [ ]:
L

['Hello', 9, 'w', 'o', [1, 2, 3], 4, 5]

# ***Editing And Deleting***

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
L[1:1] = [23,24]
L
# IMPORTANT

[1, 23, 24, 4]

In [ ]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [ ]:
L.pop(0)

1

In [ ]:
L

[2, 3, 4]

In [ ]:

L.clear()
L

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

L1+L2

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
print(5 in L1)
print(5,6 in L2)

False
5 True

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
L1 = [1,2,3]
L2 = L1.copy()
L2[0] = 5

In [ ]:
L1

[1, 2, 3]

In [ ]:
L2

[5, 2, 3]

In [ ]:
L1 = [[1, 2], [3, 4]]
L2 = L1.copy()

L1[0][0] = 99

L2[0][1]=33

print(L1)  # [[99, 2], [3, 4]]
print(L2)  # [[99, 2], [3, 4]] ← changed too!
#shallow copy

[[99, 33], [3, 4]]
[[99, 33], [3, 4]]

In [ ]:
import copy

L1 = [[1, 2], [3, 4]]
L2 = copy.deepcopy(L1)

L1[0][0] = 99

print(L1)  # [[99, 2], [3, 4]]
print(L2)  # [[1, 2], [3, 4]] ← not affected

[[99, 2], [3, 4]]
[[1, 2], [3, 4]]

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

L = [300 if i==3 else i for i in L ]

In [ ]:
L = [i for i in range(51) if i%5==0]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i,j in zip(L1,L2)]

[5, 12, 21, 32]

# ***zip(L1, L2) pairs elements like: (1,5), (2,6), (3,7), (4,8)***

# **## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.**

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i,j in zip(L1,L2)]

list(zip(L1,L2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]
L1.extend(L2)
L1

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

odd = []
even = []

for i in L:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

odd

[1, 3, 5]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300

L = [300 for i in L if i==3 else i]
L

SyntaxError: invalid syntax (<ipython-input-113-2151416079>, line 5)

In [ ]:
L = [300 if i==3 else i for i in L ]
L

[1, 2, 300, 4, 5, 300]

In [ ]:
L = [1,2,3]
L1 = L.copy()
L[0]=33
L1

[1, 2, 3]

In [ ]:
L

[33, 2, 3]

In [ ]:
L1

[1, 2, 3]

In [ ]:
L1

[1, 2, 3, 4]

In [ ]:
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

[[i,j] for i,j in zip(list1,list2)]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

L = [print(i,"-",j) for i,j in zip(candy_list,no_of_items)]

for i in range(5):
  print(candy_list[i],'-',no_of_items[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [ ]:
list1 = [1,3,4,7,2,6]

l=[]
l.append(list1[0])
result =1
for i in range(1,6):
  result += list1[i]
  l.append(result)

list1.sort()
list1

[1, 2, 3, 4, 6, 7]

In [ ]:
sum([1,3,6,10,15,21])

56

In [ ]:
input_list = [2, 4, 6, 10, 1]

[sum([x for x in input_list[i:] if x>=input_list[i]]) for i in range(len(input_list))]

[22, 20, 16, 10, 1]

In [ ]:
input_list = [2, 4, 6, 10, 1]

result = [sum([x for x in input_list if x >= input_list[i]]) for i in range(len(input_list))]
print(result)

[22, 20, 16, 10, 23]

In [ ]:
[sum([x for x in input_list if x>=input_list[i]]) for i in range(len(input_list))]

[22, 20, 16, 10, 23]

In [ ]:
result = []
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

for i in num1:
  if i in num2:
    result.append(i)
result.sort()
result

[34, 67, 89]

In [ ]:
a= [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

" ".join([ "".join(i) for i in a])

'campux is best channel'

In [ ]:
a = list(set([1,2,3,4,5,1]))
b = [2,3,5,7,8]
[i for i in b if i not in a] + a

[7, 8, 1, 2, 3, 4, 5]

In [ ]:
c = [[1,2,3],[4,5,6],[7,8,9]]
[max(i) for i in c]

[3, 6, 9]

In [ ]:
a = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
result =[]
[result.extend(i) for i in a]

[None, None, None]

In [ ]:
result

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
flattened = [item for sublist in a for item in sublist]
print(flattened)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list('hadsfhjk')

['h', 'a', 'd', 's', 'f', 'h', 'j', 'k']

In [ ]:
t1=(5,)

In [ ]:
t1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a=[1,2]
b=a.copy()
a.append(3)
a.remove(1)
b

[1, 2]

In [ ]:
a

[2, 3]

In [ ]:
x=10
y=5
x = x+y
y = x-y
x =x-y
x

5

In [ ]:
y

10

# ***Tuple***

In [ ]:
#creating

# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

### Accessing Items

- Indexing
- Slicing

In [ ]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
#editing

print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(t3)
del t3

(1, 2, 3, 4)

In [ ]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [ ]:
# index
t.index(5)

4

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.4388267993927
Tuple time 8.271653413772583

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

### Special Syntax

In [ ]:
a,b,c = (1,2,3)

In [ ]:
a,b,*other = (1,2,3,4,5)
other

[3, 4, 5]

In [ ]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
zip(a,b)

# Sets

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = set()

In [ ]:
# 1D and 2D
s1 = {1,2,3}
type(s1)

set

In [ ]:
s1 = {1,2,3,{4,5}}

TypeError: unhashable type: 'set'

In [ ]:
s1 = {1,2,True,(1,2)}

In [ ]:
s4 = set([1,4,3,2]) #hashing for order
print(s4)

{1, 2, 3, 4}

In [ ]:
s1 = {1,2,3,[4,5]}

TypeError: unhashable type: 'list'

In [ ]:
s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}
{1, 2, 3}

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

### Accessing Items

In [ ]:
s1 = {1,2,3,4}
s1[0:3]

TypeError: 'set' object is not subscriptable

### Editing Items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100

TypeError: 'set' object does not support item assignment

### Adding Items

In [ ]:
s1.add(5) # add single item

In [ ]:
s1

{2, 3, 4, 5}

In [ ]:
s1.update([6,7,1]) # add multiple item
s1

{1, 2, 3, 4, 5, 6, 7}

{2, 3, 4, 5, 6, 7}

### Deleting Items

In [ ]:
# del
s = {1,2,3,4,5}
print(s)
del s[0]

{1, 2, 3, 4, 5}

TypeError: 'set' object doesn't support item deletion

In [ ]:

s.discard(50)
print(s)

{4, 5}

In [ ]:
s.remove(10)
s

KeyError: 10

In [ ]:
s.pop()

2

In [ ]:
s.pop()

3

In [ ]:
s

{4, 5}

In [ ]:
# clear
s.clear()
print(s)

set()

# **Set operation**

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1|s2 # Union(|)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1 & s2
# Intersection(&)

{4, 5}

In [ ]:
s1 - s2

{1, 2, 3}

In [ ]:
s2 - s1 # Difference(-)

{6, 7, 8}

In [ ]:
s1^s2 # Symmetric Difference(^)

{1, 2, 3, 6, 7, 8}

In [ ]:
# Membership Test
print(1 not in s1)
# Iteration
for i in s1:
  print(i)

False
1
2
3
4
5

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s)

[1, 2, 3, 4, 5, 7]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s3 = {32,45,66}

s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7, 8, 32, 45, 66}

In [ ]:
s1

{1, 2, 3, 4, 5}

In [ ]:
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1.intersection_update(s2)
s1

{4, 5, 6, 7, 8}

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

False

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [ ]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
fs1 & fs2

frozenset({3})

In [ ]:
fs1 ^ fs2

frozenset({1, 2, 4, 5})

In [ ]:
fs1 - fs2

frozenset({1, 2})

In [ ]:
# what works and what does not
# works -> all read functions
# does't work -> write operations

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [ ]:
{i**2 for i in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [ ]:
d3 = dict([('name','aditya'),('age','22')])
d3

{'name': 'aditya', 'age': '22'}

In [ ]:
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5

{'name': 'rahul'}

In [ ]:
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [ ]:
d6[(1,2,3)]

2

### Accessing items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['name']

'Jack'

In [ ]:
my_dict.get('age')

26

### Adding key-value pair

In [ ]:
s['subjects']['ppl']=88

In [ ]:
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ppl': 88}}

### Remove key-value pair

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
d.pop(3)
d

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
d.popitem()
d

{'name': 'nitish', 'age': 32, 'gender': 'male'}

In [ ]:
del d['name']
d

{'age': 32, 'gender': 'male'}

In [ ]:
d.clear()

In [ ]:
d

{}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ppl': 88}}

True

In [ ]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'nitish', 'gender': 'male', 'age': 33}

'name'

In [ ]:
type(d.keys())

dict_keys

In [ ]:
d.items()

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])

In [ ]:
list(d.values())

['nitish', 'male', 33]

In [ ]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
{key:value**0.63 for (key,value) in distances.items()}

{'delhi': 77.62471166286917,
 'mumbai': 120.12928640327802,
 'bangalore': 155.09092651791744}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
{i:{j:i*j for j in range(1,11)} for i in range(1,6)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}

In [ ]:
t1 = (1,2)
t2 = (2,3)
set(t1+t2)

{1, 2, 3}

In [ ]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)
t1 == t2

False

In [ ]:
t1[0]

1

In [ ]:
t = (1, 5, 7, 8, 10)
r = []
r.append(t[0]*t[1])
for i in range(1,len(t)):
  if i==len(t)-1:
    r.append(t[i-1]*t[i])
  else:
    r.append(t[i-1]*t[i] + t[i+1]*t[i])

tuple(r)

(5, 40, 91, 136, 80)

In [ ]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

set_count=tuple_count=list_count =0

for i in list1:
  if type(i) == set:
    set_count += 1
  elif type(i)==tuple:
    tuple_count+=1
  else :
    list_count+=1

print('list:',list_count)

list: 2

In [ ]:
type(list1) == list

True

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
records = ()

In [ ]:
no_of_records = int(input("Enter the number of records: "))
records = []  # use a list to collect tuples

for i in range(no_of_records):
    print("Enter for record:", i)
    name = input("Enter Student name: ")
    education = input("Enter Higher Education: ")
    skill = input("Enter Primary Skill: ")
    graduation_year = input("Enter Year of Graduation (e.g. 2023): ")

    input_tuple = (name, education, skill, graduation_year)
    records.append(input_tuple)  # add tuple to list

records = tuple(records)  # convert list to tuple of tuples
print(records)

Enter the number of records: 2
Enter for record: 0
Enter Student name: AD
Enter Higher Education: B.E
Enter Primary Skill: Python
Enter Year of Graduation (e.g. 2023): 2025
Enter for record: 1
Enter Student name: Harsh
Enter Higher Education: B.Tech
Enter Primary Skill: C++
Enter Year of Graduation (e.g. 2023): 2024
(('AD', 'B.E', 'Python', '2025'), ('Harsh', 'B.Tech', 'C++', '2024'))

In [ ]:
records[0][2]

'Python'

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

set(ar1) & set(ar2) & set(ar3)

{20, 80}

In [ ]:
set('hello')

{'e', 'h', 'l', 'o'}

In [ ]:
count = 0
for i in ['a','e','i','o','u']:
  if i in "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX":
    count+=1

count

5

In [ ]:
# Input: str = "01010101010"
# Output: Yes
str = "0101010101011"

set(str).issubset({'0','1'})

True

In [ ]:
len(set(str))

2

In [ ]:
set(1) + set(2)

TypeError: 'int' object is not iterable

In [ ]:
a = {1,2}
b = {3,4}
a.union(b)

{1, 2, 3, 4}

In [ ]:
c = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

result = set()
for i in c:
  result.update(set(i))
print(result)

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[lst1 & lst2 ]

[{4, 5, 9, 10}]

In [ ]:
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

# Intersection using list comprehension
intersection = [x for x in lst1 if x in lst2]

In [ ]:
set(intersection)

{4, 5, 9, 10}

In [ ]:
test_dict = {"CampusX" : [5,7, 7, 7, 7], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5,8,2]}
test_values= test_dict.values()
min = 0

for i in test_dict:
  if len(set(test_dict[i])) > min:
    max = i
    min = len(set(test_dict[i]))


max

'Best'

In [ ]:
test_dict.values()

dict_values([[5, 7, 9, 4, 0], [6, 7, 4, 3, 3], [9, 9, 6, 5, 5]])

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

a = test_str.split()
index=0
for i in repl_dict:
  if i in a:
    a[a.index(i)]= repl_dict[i]

" ".join(a)

'CampusX is the best channel for Data-Science students.'

In [ ]:
1 in [1,2,3]

True

In [ ]:
a.index('best')

1

In [ ]:
for i in range(0,4,2):
  print(i)

0
2

In [ ]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

a={}

for i in range(0,len(key_list),2):
  a[test_list[i]] = test_list[i+1]
a

{'DataScience': 3}

In [ ]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]

{i:j for (i,j) in zip(test_list,key_list)}

{'CampusX': 'name', 10: 'id'}

In [ ]:
a = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

{i:j for (i,j) in a}

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

In [ ]:
b = [('A', 1), ('B', 2), ('C', 3)]
{i:[j] for (i,j) in b}

{'A': [1], 'B': [2], 'C': [3]}

In [ ]:
a = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
for i in a:
  a[i].sort()

In [ ]:
sorted(a)

['a', 'b', 'c']

In [ ]:
sorted_dict = {k: sorted(v) for (k, v) in a.items()}

In [ ]:
sorted_dict

{'c': [3], 'b': [10, 12], 'a': [4, 19]}

# ***Function***

In [ ]:
def is_even(num):
  """
  This function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  created on - 16th Nov 2022
  """
  if type(num) == int:
    if num % 2 == 0:
      return 'even'
    else:
      return 'odd'
  else:
    return 'pagal hai kya?'

# ***DOC READING***

In [ ]:
print(is_even.__doc__)

  This function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  created on - 16th Nov 2022

In [ ]:
print(max.__doc__)

max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.

In [ ]:
# function
# function_name(input)
for i in range(1,11):
  x = is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

### Parameters Vs Arguments
### Types of Arguments

- Default Argument
- Positional Argument
- Keyword Argument

In [ ]:
def power(a=1,b=1):
  return a**b

In [ ]:
# positional argument
power(2,3)

8

In [ ]:
# keyword argument
power(b=3,a=2)

8

### `*args and **kwargs`
`*args and **kwargs` are special Python keywords that are used to pass the variable length of arguments to a function

In [ ]:
# *args
# allows us to pass a variable number of non-keyword arguments to a function.
def multiply(*args):
  product =1
  for i in args:
    product *= i
  print(product)

In [ ]:
multiply(1,2,3,4)

24

# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

In [ ]:
def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,'->',value)

In [ ]:
display(india='delhi',srilanka='colombo',nepal='kathmandu')

india -> delhi
srilanka -> colombo
nepal -> kathmandu

### Without return statement

In [ ]:
def g(y):
    print(y)

print(g(2))

2
None

In [ ]:
L = [1,2,3]
print(L.append(4))
print(L)

None
[1, 2, 3, 4]

## Variable Scope

In [ ]:
def g(y):
    print(x)
    print(x+1)
x = 5
g(x)
print(x)

5
6
5

In [ ]:
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [ ]:
def h(y):
    x += 1
x = 5
h(x)
print(x)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

# **You can still change the global variable**

In [ ]:
def h(y):
    global x
    x += 1
x = 5
h(x)
print(x)

6

In [ ]:
def h(x):
    x += 1
    print(x)
x = 5
h(x)
print(x)

6
5

In [ ]:
def f(x):
   x = x + 1
   print('in f(x): x =', x)
   return x

x = 3
z = f(x)
print('in main program scope: z =', z)
print('in main program scope: x =', x)

in f(x): x = 4
in main program scope: z = 4
in main program scope: x = 3

### Nested Functions

In [ ]:
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x): x =', x)
    h()
    return x

x = 3
z = g(x)
z

in g(x): x = 4

In [ ]:
def g(x):
    def h(x):
        x = x+1
        print("in h(x): x = ", x)
    x = x + 1
    print('in g(x): x = ', x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: x = ', x)
print('in main program scope: z = ', z)

in g(x): x =  4
in h(x): x =  5
in main program scope: x =  3
in main program scope: z =  4

### Functions are 1st class citizens

In [ ]:
def square(num):
  return num**2

type(square)

function

In [ ]:
id(square)

134654378964160

In [ ]:
# reassign
x = square
id(x)

134654378964160

In [ ]:
x(43)

1849

In [ ]:
# deleting a function
del square

In [ ]:
x(2)

4

In [ ]:
del x

In [ ]:
x(3)

NameError: name 'x' is not defined

In [ ]:
# storing
L = [1,2,3,4,square]
L[-1](3)

9

In [ ]:
s = {square,2}
s

{2, <function __main__.square(num)>}

# returning a function

In [ ]:
def f():
    def x(a, b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [ ]:
def f():
  def x(a,b):
    return a+b
  return x

v = f()(1,2)
v

3

In [ ]:
def a():
  print("Hello a")

def z(x):
  print("Hello z")
  return x()
z(a)

Hello z
Hello a

### Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

![image.png]()

In [ ]:
a = lambda x,y:x+y
a(2,3)

5

In [ ]:
z = lambda x:x**2
z(4)

16

#### Diff between lambda vs Normal Function

- No name
- lambda has no return value(infact,returns a function)
- lambda is written in 1 line
- not reusable

Then why use lambda functions?<br>
**They are used with HOF**

In [ ]:
# check if a string has 'a'
a = lambda s:'a' in s
a('hello')

False

In [ ]:
a = lambda i:'even' if i%2==0 else 'odd'
a(3)

'odd'

### Higher Order Functions

In [ ]:
# Example

def square(x):
  return x**2

def cube(x):
  return x**3
#HOF

def a(f,L):
  output=[]
  for i in L:
    output.append(f(i))
  print(output)

L = [1,2,3,4,5]
a(lambda x:x%2==0,L)

[False, True, False, True, False]

### Map

- map(function,list)

In [ ]:
list(map(lambda x:x**2,[2,3,4,5]))

[4, 9, 16, 25]

In [ ]:
L = [1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda user:user['gender'],users))

['male', 'male', 'female']

### Filter
- filter(function return true,List)

In [ ]:
list(filter(lambda x:x>5,[12,7,2,4,8]))

[12, 7, 8]

In [ ]:
# fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']

list(filter(lambda x:x.startswith('a'),fruits))

['apple']

In [ ]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(filter(lambda user :user['age'] != 33,users ))

[{'name': 'Rahul', 'age': 45, 'gender': 'male'},
 {'name': 'Ankita', 'age': 50, 'gender': 'female'}]

### Reduce

In [ ]:
# sum of all item
import functools

functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
import functools
functools.reduce(lambda x,y:x if x>y else y,[1,2,3,4])

4

In [ ]:
def l(li):
  return list(set(li))

li = [1,2,3,2,3,1,5,5]
l(li)

[1, 2, 3, 5]

In [ ]:
a = 'green-red-yellow-black-white'

def s(a):
  list_word = a.split("-")
  return "-".join(sorted(list_word))
s(a)

'black-green-red-white-yellow'

In [ ]:
SampleList = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(filter(lambda x: x%2==0,SampleList))

[2, 4, 6, 8]

In [ ]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

def con(*args):
  s = {}
  for i in args:
    s.update(i)
  return s
con(dict1,dict2,dict3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
inpu ='hello how are you i am fine thank you'

def occurence(inpu):
  a = inpu.split()
  print(a)
  maqx =0
  value = None
  for i in a:
    if a.count(i) > maqx:
      maqx = a.count(i)
      value = i
  return value,maqx

In [ ]:
occurence(inpu)

['hello', 'how', 'are', 'you', 'i', 'am', 'fine', 'thank', 'you']

('you', 2)

In [ ]:
l =[1,1,2,3,3]
l.count(1)

2

In [ ]:
import functools

a = [[1,2],[3,4]]

functools.reduce(lambda x,y:x+y,a)

[1, 2, 3, 4]

In [ ]:
s = 'Aditya'
list(filter(lambda x:x.lower() in ['a','e','i','o','u'],list(s)))

['A', 'i', 'a']

In [ ]:
# Define the three lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Use map and lambda to add the lists element-wise
result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))

# Print the result
print("Sum of three lists:", result)

Sum of three lists: [12, 15, 18]

In [ ]:
text = "HELLO"

if text.isupper():
    print("The string is in uppercase.")
else:
    print("The string is not in uppercase.")

The string is in uppercase.

In [ ]:
text.upper()

'HELLO'

# ***Class***

In [ ]:
# object literal
L = [1,2,3]

In [ ]:
print(type(L))

<class 'list'>

In [ ]:
L = list()
L

[]

In [ ]:
# Pascal Case

HelloWorld

In [ ]:
class Atm:

  def __init__(self):
    self.pin = None
    self.balance = 0

  def menu(self):
    user_input = input("""
    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input == '1':
      self.create_pin()
    elif user_input == '2':
      self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      exit()

  def create_pin(self):
    self.pin = input("Enter the pin")

    user_balance = int(input('enter balance'))
    self.balance = user_balance

    print('pin created successfully')
    self.menu()

  def change_pin(self):
    old_pin = input('enter old pin')
    if old_pin == self.pin:
      self.pin = input("Enter the new pin")
      print('pin change successful')
      self.menu()
    else:
       print('wrong pin, try again.')
    self.menu()

  def check_balance(self):
    pin = input('Enter the pin')
    if pin == self.pin:
      print("Balance : ",self.balance)
    else:
       print("Enter right pin")
    self.menu()

  def withdraw(self):
    pin = input('Enter the pin')
    if pin == self.pin:
      amount = int(input('Enter the amount'))
      if amount<=self.balance:
        self.balance -= amount
      else:
        print('Amount is greater than balance')

    else:
       print('wrong pin, try again.')
    self.menu()

In [ ]:
obj = Atm()

In [ ]:
obj.menu()

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    1
Enter the pin123
enter balance1000
pin created successfully

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    2
enter old pin111
wrong pin, try again.

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    3
Enter the pin111
Enter right pin

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    3
Enter the pin123
Balance :  1000

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    4
Enter the pin123
Enter the amount10000
Amount is greater than balance

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    5

# **Magic Method**

* #__name__  in this format

In [ ]:
# __name__,__init__,

In [ ]:
'{1},{0}'.format('AD','YD')

'YD,AD'

In [ ]:
class Fraction:

  def __init__(self,x,y):
    self.num = x
    self.den = y

  def __str__(self):
    return "{}/{}".format(self.num,self.den)

  def __add__(self,other):
    num = self.num*other.den + other.num*self.den
    den = self.den*other.den
    return "{}/{}".format(num,den)

  def __sub__(self,other):
    num = self.num*other.den - other.num*self.den
    den = self.den*other.den
    return "{}/{}".format(num,den)

  def __mul__(self,other):
    new_num = self.num*other.num
    new_den = self.den*other.den
    return "{}/{}".format(new_num,new_den)

  def __truediv__(self,other):
    new_num = self.num*other.den
    new_den = self.den*other.num

    return '{}/{}'.format(new_num,new_den)

In [ ]:
a = Fraction(2,3)
b = Fraction(1,3)
print(a)

2/3

In [ ]:
print(a/b)

6/3

### Write OOP classes to handle the following scenarios:

- A user can create and view 2D coordinates
- A user can find out the distance between 2 coordinates
- A user can find find the distance of a coordinate from origin
- A user can check if a point lies on a given line
- A user can find the distance between a given 2D point and a given line

In [ ]:
class Point:

  def __init__(self,x,y):
    self.x_cod = x
    self.y_cod = y

  def __str__(self):
    return '<{},{}>'.format(self.x_cod,self.y_cod)

  def euclidean_distance(self,other):
    return ((self.x_cod - other.x_cod)**2 + (self.y_cod - other.y_cod)**2)**0.5

  def distance_from_origin(self):
    return (self.x_cod**2 + self.y_cod**2)**0.5
    # return self.euclidean_distance(Point(0,0))


class Line:

  def __init__(self,A,B,C):
    self.A = A
    self.B = B
    self.C = C

  def __str__(self):
    return '{}x + {}y + {} = 0'.format(self.A,self.B,self.C)

  def point_on_line(line,point):
    if line.A*point.x_cod + line.B*point.y_cod + line.C == 0:
      return "lies on the line"
    else:
      return "does not lie on the line"

  def shortest_distance(line,point):
    return abs(line.A*point.x_cod + line.B*point.y_cod + line.C)/(line.A**2 + line.B**2)**0.5

In [ ]:
"{}/{} = a".format(1,2 if 2%2==1 else '')

'1/ = a'

In [ ]:
l1 = Line(1,1,-2)
p1 = Point(1,1)
print(l1)
print(p1)

1x + 1y + -2 = 0
<1,1>

In [ ]:
l1.shortest_distance(p1)

0.0

In [ ]:
l1.point_on_line(p1)

'lies on the line'

### How objects access attributes

In [ ]:
class Person:

  def __init__(self,name_input,country_input):
    self.name = name_input
    self.country = country_input

  def greet(self):
    if self.country == 'india':
      print('Namaste',self.name)
    else:
      print('Hello',self.name)

In [ ]:
# how to access attributes
p = Person('nitish','india')

In [ ]:
p.name

'nitish'

In [ ]:
# what if i try to access non-existent attributes
p.gender

AttributeError: 'Person' object has no attribute 'gender'

### Attribute creation from outside of the class

In [ ]:
p.gender = 'male'

In [ ]:
l1 = list()

In [ ]:
l1

[]

In [ ]:
l1.name = 'Am'

AttributeError: 'list' object has no attribute 'name'

# *** If you want to make a custom class that behaves like a data type and prevents adding new attributes, you can use:  __slots__ __setattr__***

# ***__slots__***



```
class Person:
    __slots__ = ['name', 'country']

    def __init__(self, name, country):
        self.name = name
        self.country = country

```

In [ ]:
class Person:
    __slots__ = ['name', 'country']

    def __init__(self, name, country):
        self.name = name
        self.country = country

In [ ]:
p = Person('A','Usa')
p.gender = 'male'

AttributeError: 'Person' object has no attribute 'gender'

# ***setattr***

In [ ]:
class Person:
    allowed = {'name', 'country'}

    def __init__(self, name, country):
        self.name = name
        self.country = country

    def __setattr__(self, key, value):
        if key not in self.allowed:
            raise AttributeError(f"Cannot set attribute '{key}'")
        super().__setattr__(key, value)

In [ ]:
p = Person('A','Usa')
p.gender = 'male'

AttributeError: Cannot set attribute 'gender'

### Reference Variables

- Reference variables hold the objects
- We can create objects without reference variable as well
- An object can have multiple reference variables
- Assigning a new reference variable to an existing object does not create a new object

In [ ]:
# object without a reference
class Person:

  def __init__(self):
    self.name = 'nitish'
    self.gender = 'male'

p = Person()
q = p

In [ ]:
# Multiple ref
print(id(p))
print(id(q))

133463944864400
133463944864400

In [ ]:
print(p.name)
print(q.name)
q.name = 'ankit'
print(q.name)
print(p.name)

nitish
nitish
ankit
ankit

### Pass by reference

In [ ]:
class Person:

  def __init__(self,name,gender):
    self.name = name
    self.gender = gender

# outside the class -> function
def greet(person):
  print('Hi my name is',person.name,'and I am a',person.gender)
  p1 = Person('ankit','male')
  return p1

p = Person('nitish','male')
x = greet(p)
print(x.name)
print(x.gender)

Hi my name is nitish and I am a male
ankit
male

In [ ]:
class Person:

  def __init__(self,name,gender):
    self.name = name
    self.gender = gender

# outside the class -> function
def greet(person):
  person.name = 'ankit'
  return person

p = Person('nitish','male')
print(id(p))
p1 = greet(p)
print(id(p1))

133463944745744
133463944745744

# **Hence Object are mutable**

- Mutable make changes at that refernce point
- Immutable create new refernce and make changes at that point and return new reference just like tuple

In [ ]:
# instance var -> python tutor
class Person:

  def __init__(self,name_input,country_input):
    self.name = name_input
    self.country = country_input

p1 = Person('nitish','india') # instance var ->
p2 = Person('steve','australia') # instance var ->

# **Encapsulation**

`- __balance = _className__balance  (private variable name changed to) `

In [ ]:
class Atm:

  def __init__(self):
    self.pin = None
    self.__balance = 0

  def menu(self):
    user_input = input("""
    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    """)

    if user_input == '1':
      self.create_pin()
    elif user_input == '2':
      self.change_pin()
    elif user_input == '3':
      self.check_balance()
    elif user_input == '4':
      self.withdraw()
    else:
      exit()

  def create_pin(self):
    self.pin = input("Enter the pin")

    user_balance = int(input('enter balance'))
    self.__balance = user_balance

    print('pin created successfully')
    self.menu()

  def change_pin(self):
    old_pin = input('enter old pin')
    if old_pin == self.pin:
      self.pin = input("Enter the new pin")
      print('pin change successful')
      self.menu()
    else:
       print('wrong pin, try again.')
    self.menu()

  def check_balance(self):
    pin = input('Enter the pin')
    if pin == self.pin:
      print("Balance : ",self.__balance)
    else:
       print("Enter right pin")
    self.menu()

  def withdraw(self):
    pin = input('Enter the pin')
    if pin == self.pin:
      amount = int(input('Enter the amount'))
      if amount<=self.__balance:
        self.__balance -= amount
      else:
        print('Amount is greater than balance')

    else:
       print('wrong pin, try again.')
    self.menu()

In [ ]:
p = Atm()

In [ ]:
p.create_pin()

Enter the pin1234
enter balance10000
pin created successfully

    Hi how can I help you?
    1. Press 1 to create pin
    2. Press 2 to change pin
    3. Press 3 to check balance
    4. Press 4 to withdraw
    5. Anything else to exit
    5

In [ ]:
p.__balance =2000

In [ ]:
p._Atm__balance

### Class Relationships

- Aggregation
- Inheritance

In [ ]:
# example
class Customer:

  def __init__(self,name,gender,address):
    self.name = name
    self.gender = gender
    self.address = address

  def print_address(self):
    print(self.name,self.gender,self.address.get_city(),self.address.pin,self.address.state)

  def edit_profile(self,new_name,new_city,new_pin,new_state):
    self.name = new_name
    self.address.edit_address(new_city,new_pin,new_state)

class Address:

      def __init__(self,city,pin,state):
        self.__city = city
        self.pin = pin
        self.state = state

      def get_city(self):
        return self.__city

      def edit_address(self,new_city,new_pin,new_state):
        self.__city = new_city
        self.pin = new_pin
        self.state = new_state

In [ ]:
add1 = Address('gurgaon',122011,'haryana')
cust = Customer('nitish','male',add1)
cust.print_address()

nitish male gurgaon 122011 haryana

In [ ]:
cust.edit_profile('ankit','mumbai',111111,'maharastra')
cust.print_address()

ankit male mumbai 111111 maharastra

In [ ]:
# Example

# parent
class User:

  def __init__(self):
    self.name = 'nitish'
    self.gender = 'male'

  def login(self):
    print('login')

# child
class Student(User):

  def __init__(self):
    self.rollno = 100

  def enroll(self):
    print('enroll into the course')

u = User()
s = Student()
s.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
s.login()

login

In [ ]:
s.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
# parent
class User:

  def __init__(self):     ################### method overriding (consrtuctor issue) #####################
    self.name = 'nitish'
    self.gender = 'male'

  def login(self):
    print('login')

# child
class Student(User):

  def enroll(self):
    print('enroll into the course')


u = User()
s = Student()
s.name

'nitish'

##### What gets inherited?

- Constructor
- Non Private Attributes
- Non Private Methods

In [ ]:
# child can't access private members of the class

class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    #getter
    def show(self):
        print (self.__price)

class SmartPhone(Phone):
    def check(self):
        print(self.__price)

s=SmartPhone(20000, "Apple", 13)
s.show()

Inside phone constructor
20000

In [ ]:
class Parent:

    def __init__(self,num):
        self.__num=num

    def get_num(self):
        return self.__num

class Child(Parent):

    def show(self):
        print("This is in child class")

son=Child(100)
print(son.get_num())
son.show()

100
This is in child class

In [ ]:
class A:
    def __init__(self):
        self.var1=100

    def display1(self,var1):
        print("class A :", self.var1)
class B(A):

    def display2(self,var1):
        print("class B :", self.var1)

obj=B()
obj.display1(200)

class A : 100

### Super Keyword

In [ ]:
class Phone:
    def __init__(self, price, brand, camera):  ############### constructor and super keyword ##################
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
  def __init__(self,price,brand,camers,ram):
    super().__init__(price,brand,camers)
    self.ram = ram

  def buy(self):
    print("Smart")
    print(self.brand)
    super().buy()

In [ ]:
a = SmartPhone(100,'asd','ads',8)
a.buy()

Inside phone constructor
Smart
asd
Buying a phone

In [ ]:
# using super outside the class
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
    def buy(self):
        print ("Buying a smartphone")
        # syntax to call parent ka buy method
        super().buy()

s=SmartPhone(20000, "Apple", 13)

s.super().buy()

Inside phone constructor

AttributeError: 'SmartPhone' object has no attribute 'super'

In [ ]:
s.buy

Buying a smartphone
Buying a phone

# ***SUPER***

- super cannot access varible
- super does not work outside of class
- super is inside the child class

In [ ]:
# can super access parent ka data?
# using super outside the class
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
    def buy(self):
        print ("Buying a smartphone")
        # syntax to call parent ka buy method
        print(super().brand)

s=SmartPhone(20000, "Apple", 13)

s.buy()

Inside phone constructor
Buying a smartphone

AttributeError: 'super' object has no attribute 'brand'

Buying a smartphone

AttributeError: 'super' object has no attribute 'brand'

##### Inheritance in summary

- A class can inherit from another class.

- Inheritance improves code reuse

- Constructor, attributes, methods get inherited to the child class

- The parent has no access to the child class

- Private properties of parent are not accessible directly in child class

- Child class can override the attributes or methods. This is called method overriding

- super() is an inbuilt function which is used to invoke the parent class methods and constructor

In [ ]:
class Parent:

    def __init__(self,num):
      self.__num=num

    def get_num(self):
      return self.__num

class Child(Parent):

    def __init__(self,num,val):
      super().__init__(num)
      self.__val=val

    def get_val(self):
      return self.__val

son=Child(100,200)
print(son.get_num())
print(son.get_val())

100
200

In [ ]:
class Parent:
    def __init__(self):
        self.num=100

class Child(Parent):

    def __init__(self):
        super().__init__()
        self.var=200

    def show(self):
        print(self.num)
        print(self.var)

son=Child()
son.show()

100
200

### Types of Inheritance

- Single Inheritance
- Multilevel Inheritance
- Hierarchical Inheritance
- Multiple Inheritance(Diamond Problem)
- Hybrid Inheritance

In [ ]:
# single inheritance
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
    pass

SmartPhone(1000,"Apple","13px").buy()

Inside phone constructor
Buying a phone

In [ ]:
# multilevel
class Product:
    def review(self):
        print ("Product customer review")

class Phone(Product):
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
    pass

s=SmartPhone(20000, "Apple", 12)

s.buy()
s.review()

Inside phone constructor
Buying a phone
Product customer review

In [ ]:
# Hierarchical
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class SmartPhone(Phone):
    pass

class FeaturePhone(Phone):
    pass

SmartPhone(1000,"Apple","13px").buy()
FeaturePhone(10,"Lava","1px").buy()

Inside phone constructor
Buying a phone
Inside phone constructor
Buying a phone

In [ ]:
# Multiple
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class Product:
    def review(self):
        print ("Customer review")

class SmartPhone(Phone, Product):
    pass

s=SmartPhone(20000, "Apple", 12)

s.buy()
s.review()

Inside phone constructor
Buying a phone
Customer review

In [ ]:
# the diamond problem
# https://stackoverflow.com/questions/56361048/what-is-the-diamond-problem-in-python-and-why-its-not-appear-in-python2
class Phone:
    def __init__(self, price, brand, camera):
        print ("Inside phone constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print ("Buying a phone")

class Product:
    def buy(self):
        print ("Product buy method")

# Method resolution order
class SmartPhone(Phone,Product):   ## Method resolution order (Order matter , which ever first it will get execute ) ##
    pass

s=SmartPhone(20000, "Apple", 12)

s.buy()

Inside phone constructor
Buying a phone

### Polymorphism

- Method Overriding
- Method Overloading   (Does not work in python)
- Operator Overloading

In [ ]:
class Shape:

  def area(self,a,b=0):
    if b == 0:
      return 3.14*a*a
    else:
      return a*b

s = Shape()

print(s.area(2))
print(s.area(3,4))

12.56
12

In [ ]:
from abc import ABC,abstractmethod
class BankApp(ABC):

  def database(self):
    print('connected to database')

  @abstractmethod
  def security(self):
    pass

  @abstractmethod
  def display(self):
    pass

In [ ]:
class MobileApp(BankApp):

  def mobile_login(self):
    print('login into mobile')

  def security(self):
    print('mobile security')

  def display(self):
    print('display')

In [ ]:
mob = MobileApp()

In [ ]:
mob.security()

mobile security

In [ ]:
obj = BankApp()  ########### can't make obj of abstract class ############

TypeError: Can't instantiate abstract class BankApp with abstract methods display, security

Skip to content
Chat history

You said:
Q-1: Rectangle Class
Write a Rectangle class in Python language, allowing you to build a rectangle with length and width attributes.

Create a Perimeter() method to calculate the perimeter of the rectangle and a Area() method to calculate the area of ​​the rectangle.

Create a method display() that display the length, width, perimeter and area of an object created using an instantiation on rectangle class.
ChatGPT said:
Here's a complete implementation of the Rectangle class in Python as per your requirements:

class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def Perimeter(self):
        return 2 * (self.length + self.width)

    def Area(self):
        return self.length * self.width

    def display(self):
        print(f"Length: {self.length}")
        print(f"Width: {self.width}")
        print(f"Perimeter: {self.Perimeter()}")
        print(f"Area: {self.Area()}")


# Example usage
rect1 = Rectangle(10, 5)
rect1.display()
💡 Output:
Length: 10
Width: 5
Perimeter: 30
Area: 50
✅ Explanation:
__init__ initializes the object with length and width.

Perimeter() calculates the perimeter using the formula 2 × (length + width).

Area() calculates the area using the formula length × width.

display() prints all attributes and computed values.

Let me know if you want to add error checking or support for square detection.

You said:
Q-3:Computation class
Create a Computation class with a default constructor (without parameters) allowing to perform various calculations on integers numbers.

Create a method called Factorial() which allows to calculate the factorial of an integer n. Integer n as parameter for this method

Create a method called naturalSum() allowing to calculate the sum of the first n integers 1 + 2 + 3 + .. + n. Integer n as parameter for this method.

Create a method called testPrime() in the Calculation class to test the primality of a given integer n, n is Prime or Not? Integer n as parameter for this method.

Create a method called testPrims() allowing to test if two numbers are prime between them. Two integers are prime to one another if they have only 1 as their common divisor. Eg. 4 and 9 are prime to each other.

Create a tableMult() method which creates and displays the multiplication table of a given integer. Then create an allTablesMult() method to display all the integer multiplication tables 1, 2, 3, ..., 9.

Create a static listDiv() method that gets all the divisors of a given integer on new list called Ldiv. Create another listDivPrim() method that gets all the prime divisors of a given integer.
ChatGPT said:
Here's the full implementation of the Computation class in Python, covering all the methods you specified:

class Computation:
    def __init__(self):
        pass

    def Factorial(self, n):
        if n < 0:
            return "Factorial not defined for negative numbers."
        fact = 1
        for i in range(2, n + 1):
            fact *= i
        return fact

    def naturalSum(self, n):
        if n < 1:
            return 0
        return n * (n + 1) // 2  # Using formula for sum of first n natural numbers

    def testPrime(self, n):
        if n < 2:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True

    def testPrims(self, a, b):
        # If GCD of two numbers is 1, they are co-prime (prime to each other)
        def gcd(x, y):
            while y:
                x, y = y, x % y
            return x

        return gcd(a, b) == 1

    def tableMult(self, n):
        print(f"Multiplication Table for {n}:")
        for i in range(1, 11):
            print(f"{n} x {i} = {n * i}")

    def allTablesMult(self):
        for i in range(1, 10):
            print("\n------------------------")
            self.tableMult(i)

    @staticmethod
    def listDiv(n):
        Ldiv = []
        for i in range(1, n + 1):
            if n % i == 0:
                Ldiv.append(i)
        return Ldiv

    @staticmethod
    def listDivPrim(n):
        def is_prime(x):
            if x < 2:
                return False
            for i in range(2, int(x**0.5) + 1):
                if x % i == 0:
                    return False
            return True

        return [i for i in Computation.listDiv(n) if is_prime(i)]


# Example usage:
comp = Computation()

print("Factorial of 5:", comp.Factorial(5))
print("Natural sum of first 5 numbers:", comp.naturalSum(5))
print("Is 17 prime?", comp.testPrime(17))
print("Are 9 and 28 prime to each other?", comp.testPrims(9, 28))
comp.tableMult(4)
comp.allTablesMult()
print("Divisors of 18:", Computation.listDiv(18))
print("Prime divisors of 18:", Computation.listDivPrim(18))
✅ Output Sample (shortened for brevity):
Factorial of 5: 120
Natural sum of first 5 numbers: 15
Is 17 prime? True
Are 9 and 28 prime to each other? True
Multiplication Table for 4:
4 x 1 = 4
4 x 2 = 8
...
Divisors of 18: [1, 2, 3, 6, 9, 18]
Prime divisors of 18: [2, 3]
🧠 Summary of Methods:
Method	Description
Factorial(n)	Returns n!
naturalSum(n)	Returns sum from 1 to n
testPrime(n)	Checks if n is prime
testPrims(a,b)	Checks if a and b are co-prime
tableMult(n)	Prints multiplication table for n
allTablesMult()	Prints tables for 1 to 9
listDiv(n)	Returns list of all divisors of n
listDivPrim(n)	Returns list of prime divisors of n
Let me know if you want this wrapped into a menu-driven CLI or GUI version for user interaction.

You said:
Build flashcard using class in Python.
Build a flashcard using class in python. A flashcard is a card having information on both sides, which can be used as an aid in memoization. Flashcards usually have a question on one side and an answer on the other.

Example 1:

Approach:

Create a class named FlashCard.
Initialize dictionary fruits using init() method. Here you have to define fruit name as key and it's color as value. E.g., {"Banana": "yellow", "Strawberries": "pink"}
Now randomly choose a pair from fruits by using random module and store the key in variable fruit and value in variable color.
Now prompt the user to answer the color of the randomly chosen fruit.
If correct print correct else print wrong.
welcome to fruit quiz
What is the color of Strawberries
pink
Correct answer
Enter 0, if you want to play again: 0
What is the color of watermelon
green
Correct answer
Enter 0, if you want to play again: 1
ChatGPT said:



No file chosenNo file chosen
ChatGPT can make mistakes. Check important info. See Cookie Preferences.
ChatGPT is still generating a response...

In [ ]:
import random

class FlashCard:
    def __init__(self):
        self.fruits = {
            "Banana": "yellow",
            "Strawberries": "pink",
            "Watermelon": "green",
            "Orange": "orange",
            "Grapes": "purple",
            "Apple": "red"
        }

    def quiz(self):
        print("Welcome to the Fruit Quiz!")
        while True:
            fruit, color = random.choice(list(self.fruits.items()))
            answer = input(f"What is the color of {fruit}? ").strip().lower()

            if answer == color.lower():
                print("✅ Correct answer")
            else:
                print(f"❌ Wrong answer. The correct color is {color}.")

            play_again = input("Enter 0 to play again, any other key to exit: ").strip()
            if play_again != "0":
                print("Thanks for playing!")
                break


# Example usage
game = FlashCard()
game.quiz()

Welcome to the Fruit Quiz!
What is the color of Orange? orange
✅ Correct answer
Enter 0 to play again, any other key to exit: 0
What is the color of Watermelon? green
✅ Correct answer
Enter 0 to play again, any other key to exit: 1
Thanks for playing!

 Problem 5 based on OOP Python.
TechWorld, a technology training center, wants to allocate courses for instructors. An instructor is identified by name, technology skills, experience and average feedback. An instructor is allocated a course, if he/she satisfies the below two conditions:

eligibility criteria:
if experience is more than 3 years, average feedback should be 4.5 or more
if experience is 3 years or less, average feedback should be 4 or more
he/she should posses the technology skill for the course
Identify the class name and attributes to represent instructors. Write a Python program to implement the class chosen with its attributes and methods.

Note:

Consider all instance variables to be private and methods to be public.
An instructor may have multiple technology skills, so consider instance variable, technology_skill to be a list.
check_eligibility(): Return true if eligibility criteria is satisfied by the instructor. Else, return false
allocate_course(technology): Return true if the course which requires the given technology can be allocated to the instructor. Else, return false.
Represent a few objects of the class, initialize instance variables using setter methods, invoke appropriate methods and test your program

In [ ]:
class Instructor:
    def __init__(self):
        self.__name = ""
        self.__technology_skill = []
        self.__experience = 0
        self.__avg_feedback = 0.0

    # Setter methods
    def set_name(self, name):
        self.__name = name

    def set_technology_skill(self, skill_list):
        self.__technology_skill = skill_list

    def set_experience(self, experience):
        self.__experience = experience

    def set_avg_feedback(self, avg_feedback):
        self.__avg_feedback = avg_feedback

    # Public method to check eligibility
    def check_eligibility(self):
        if self.__experience > 3 and self.__avg_feedback >= 4.5:
            return True
        elif self.__experience <= 3 and self.__avg_feedback >= 4.0:
            return True
        else:
            return False

    # Public method to allocate course
    def allocate_course(self, technology):
        if self.check_eligibility() and technology in self.__technology_skill:
            return True
        return False


# -------------------------------
# ✅ Create and test Instructor objects
# -------------------------------

# Instructor 1: Eligible and has the skill
instructor1 = Instructor()
instructor1.set_name("Alice")
instructor1.set_technology_skill(["Python", "Java"])
instructor1.set_experience(5)
instructor1.set_avg_feedback(4.6)

print("Instructor 1 eligible:", instructor1.check_eligibility())  # True
print("Can allocate Python:", instructor1.allocate_course("Python"))  # True
print("Can allocate C++:", instructor1.allocate_course("C++"))  # False

# Instructor 2: Not eligible due to low feedback
instructor2 = Instructor()
instructor2.set_name("Bob")
instructor2.set_technology_skill(["C++", "JavaScript"])
instructor2.set_experience(4)
instructor2.set_avg_feedback(4.0)

print("\nInstructor 2 eligible:", instructor2.check_eligibility())  # False
print("Can allocate C++:", instructor2.allocate_course("C++"))  # False

# Instructor 3: Eligible but lacks technology
instructor3 = Instructor()
instructor3.set_name("Charlie")
instructor3.set_technology_skill(["HTML", "CSS"])
instructor3.set_experience(2)
instructor3.set_avg_feedback(4.2)

print("\nInstructor 3 eligible:", instructor3.check_eligibility())  # True
print("Can allocate Java:", instructor3.allocate_course("Java"))  # False

Instructor 1 eligible: True
Can allocate Python: True
Can allocate C++: False

Instructor 2 eligible: False
Can allocate C++: False

Instructor 3 eligible: True
Can allocate Java: False

###`Q1:`Count number of instances of a class created in Python?

Example:
Say `Car` is any class.
```
maruti = Car()
bmw = Car()
honda = Car()
```
So after creating above instances. We want to count how many instances are created of Car class.

For above example `no of instances = 3`.

Write a program for above problem.

In [ ]:
class Car:
  __count = 1
  def __init__(self,name):
    self.name =name
    Car.__count+=1

  @staticmethod
  def get_count():
    return Car.__count

maruti = Car('maruti')
bmw = Car('BMW')
honda = Car('Honda')
Car.get_count()

4

In [1]:
class Update_Menu:
  breakfast_id = 1
  def __init__(self):
    self.menu = []

  def add_items(self):

SyntaxError: incomplete input (ipython-input-1-2963571889.py, line 8)

In [2]:
set(["1",1])

{1, '1'}

In [14]:
def a(**args):
  for i in args:
    print(args[i])

In [15]:
a(n=3,y=6)

3
6

In [25]:
class Vehicle:
  def __init__(self,capacity):
    self.price = None
    self.capacity = capacity

  def fare(self):
    self.price = self.capacity * 100

class Bus(Vehicle):
  def __init__(self,capacity=50):
    super().__init__(capacity)

  def fare(self):
    self.price = self.capacity*100*1.1
    print(self.price)

In [26]:

Bus().fare()

5500.0

The colon (:) is not a dictionary syntax. Instead, this is called a type hint (or type annotation).

🔍 What it means:
start: Point tells Python (and humans) that the parameter start is expected to be an object of class Point.

It's just a hint, not a restriction — Python will not enforce the type at runtime unless you explicitly check it.

In [27]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

class Location:
    def __init__(self, start: Point,end: Point):
        self.start = start
        self.end = end

    def reflection(self):
      reflected = Point(self.end.x, -self.end.y)
      print(reflected.x,reflected.y)

In [28]:
Location(Point(2,3),Point(4,3)).reflection()

4 -3

In [36]:
from abc import ABC,abstractmethod

class Polygon(ABC):
  @abstractmethod
  def get_dimensions(self):
    pass

  @abstractmethod
  def area(self):
    pass

class Rectangle(Polygon):
  def get_dimensions(self):
     self.length = float(input("Enter length of rectangle: "))
     self.breadth = float(input("Enter breadth of rectangle: "))

  def area(self):
    return self.length * self.breadth

class Triangle(Polygon):
    def get_dimensions(self):
        self.base = float(input("Enter base of triangle: "))
        self.height = float(input("Enter height of triangle: "))

    def area(self):
        return 0.5 * self.base * self.height

In [37]:

rect = Rectangle()
rect.get_dimensions()
print("Area of rectangle:", rect.area())


tri = Triangle()
tri.get_dimensions()
print("Area of triangle:", tri.area())

Enter length of rectangle: 25
Enter breadth of rectangle: 10
Area of rectangle: 250.0
Enter base of triangle: 12
Enter height of triangle: 6
Area of triangle: 36.0

In [53]:
class A(dict):

  def __getitem__(self,key):
    try:
      return super().__getitem__(key)
    except:
      alt_key = self._convert_key(key)
      if alt_key in self:
        return super().__getitem__(alt_key)
      raise KeyError(f"{key} not found in dictionary.")

  def __contains__(self, key):
      return super().__contains__(key) or super().__contains__(self._convert_key(key))

  def _convert_key(self,key):
    if isinstance(key,str) and key.isdigit():
      return int(key)
    elif isinstance(key, int):
          return str(key)
    return key

In [54]:
fd = A()

In [55]:
fd[2]=100

In [59]:
fd[3]=200

In [60]:
fd['2']

100

In [61]:
isinstance(2,int)

True